@use '../util' as u;

.newsletter {
  &__cta-wrapper {
    width: 100%;
    background-color: var(--clr-neutral-100);
    margin-inline: auto;
    display: grid;
    gap: u.rem(40);
    padding-block-end: u.rem(40);

    @include u.breakpoint(medium) {
      width: min(100% - 10rem);
      padding: u.rem(40);
      border-radius: u.rem(36);
    }

    @include u.breakpoint(large) {
      width: u.rem(904);
      display: flex;
      gap: u.rem(64);
      padding-block-end: 0;
      padding: u.rem(32);
      align-items: center;
    }
  }

  picture {
    @include u.breakpoint(large) {
      flex: 1;
      order: 2;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin-inline: auto;
  }

  &__content {
    display: grid;
    gap: u.rem(24);
    padding-inline: u.rem(24);

    @include u.breakpoint(medium) {
      padding-inline: 0;
    }

    @include u.breakpoint(large) {
      flex: 1;
      order: 1;
      gap: u.rem(32);
      padding-inline: 0;
    }
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2.05rem + 1.94vw, 3.5rem);
    font-weight: 700;
    line-height: 1;
    color: var(--clr-neutral-800);
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: u.rem(16);
    font-weight: 400;
    line-height: 1.5;
    color: var(--clr-neutral-800);
  }

  &__checkmark-list {
    display: grid;
    gap: u.rem(8);
  }

  &__checkmark-list-item {
    display: grid;
    grid-template-columns: u.rem(32) auto;
    color: var(--clr-neutral-800);
  }

  &__checkmark-list-item::before {
    content: url('/img/icon-list.svg');
  }

  &__form {
    display: grid;
    gap: u.rem(24);
    isolation: isolate;
    margin-top: u.rem(16);

    @include u.breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__form-group {
    display: grid;
    gap: u.rem(8);

    &.with-error-field {
      grid-template-columns: 1fr 1fr;
    }

    input:not(:focus):invalid ~ .newsletter__error {
      display: block;
    }
  }

  &__error {
    grid-row: 1;
    grid-column: 2;
    text-align: end;
    color: var(--clr-accent-400);
    display: none;
  }

  &__label {
    font-size: u.rem(12);
    font-weight: 700;
    line-height: 1.5;
    color: var(--clr-neutral-800);
  }

  input {
    grid-column: 1 / -1;
    padding: u.rem(16) u.rem(24);
    border-radius: u.rem(8);
    font: inherit;
    color: var(--clr-neutral-200);
    border: 1px solid var(--clr-neutral-200);
  }

  input:focus {
    outline: none;
    background: var(--clr-neutral-100);
    border-color: var(--clr-neutral-800);
  }

  button {
    font: inherit;
    font-size: u.rem(16);
    font-weight: 700;
    background: var(--clr-neutral-800);
    padding: u.rem(16) u.rem(40);
    border-radius: u.rem(8);
    color: var(--clr-neutral-100);
    border: none;

    &:hover,
    &:focus-visible {
      cursor: pointer;
      background: linear-gradient(
        -90deg,
        var(--clr-accent-400),
        var(--clr-accent-500)
      );
      position: relative;
    }

    &:hover::after,
    &:focus-visible::after {
      content: '';
      position: absolute;
      inset: 0;
      background: inherit;
      border-radius: inherit;
      translate: 0 1.5rem;
      filter: blur(1rem);
      opacity: 0.25;
      z-index: -1;
    }
  }

  // Popup structure
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-neutral-100);
    display: none;
    z-index: 1000;

    @include u.breakpoint(medium) {
      background: var(--clr-neutral-700);
      display: none;
    }

    &.active {
      display: block; // Show overlay when active
    }
  }

  &__popup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80vh;
    background: var(--clr-neutral-100);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;

    @include u.breakpoint(medium) {
      width: u.rem(504);
      height: auto;
      border-radius: u.rem(36);
      padding: u.rem(60) u.rem(64);
      gap: u.rem(32);
      display: none;
    }

    &.active {
      display: flex; // Show popup when active
    }
  }

  &__popup-content {
    display: grid;
    gap: u.rem(32);
    align-items: flex-start;
    padding: u.rem(24);

    @include u.breakpoint(medium) {
      padding: 0;
    }
  }

  &__icon {
    width: u.rem(64);
    height: u.rem(64);
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2.05rem + 1.94vw, 3.5rem);
    font-weight: 700;
    line-height: 1;
    color: var(--clr-neutral-800);
  }

  &__close-btn {
    padding: u.rem(16) u.rem(104);
    background: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus-visible {
      background: linear-gradient(
        -90deg,
        var(--clr-accent-400),
        var(--clr-accent-500)
      );
    }

    @include u.breakpoint(medium) {
      padding: u.rem(16) u.rem(104);
    }
  }
}
